<div class="page-header">
  <h1>Fotos</h1>
</div>

<p>Se listan a continuación las fotos que posee <%= @propietario %>.</p>

<nav class="well">
  <%= link_to "Agregar foto", "#agregar-foto", :class => 'btn agregar-foto' %>
  <%= link_to "Edición masiva", admin_polymorphic_path(@propietario, :fotos, :editar), :class => 'btn' if @fotos.any? %>
  <%= link_to "Volver", admin_polymorphic_path(@propietario.class), :class => 'btn' %>
</nav>

<%= render "mini_form", :foto => @foto, :propietario => @propietario, :url => admin_polymorphic_path(@propietario) %>

<table id="listado" class="table table-striped ordenable">
  <%= thead :titulo, :foto %>
  <%= content_tag :tbody, render(@fotos) %>
</table>
<%= hidden_field_tag :url, admin_polymorphic_path(@propietario, :fotos, :reordenar), :class => :url %>

<script type="text/javascript">
  $("#mini").collapse('show');
</script>
