<%= simple_form_for usuario, :url => url, :html => { :class => 'form-horizontal', :autocomplete => "off" } do |f| %>
  <%= f.input :username, :autofocus => true, :disabled => (usuario.username.present? && !usuario.new_record?) %>
  <%= f.input :rol, :as => :select, :collection => current_user.roles_que_puede_crear, :label_method => :humanize if can?(:manage, Usuario) && usuario.new_record? %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <div class="controls">
    <%= f.button :submit, :name => nil, :disable_with => t("espere"), :class => 'btn btn-primary' %>
    <%= link_to "Cancelar", can?(:index, Usuario) ? admin_usuarios_path : sesiones_path, :class => 'btn' %>
  </div>
<% end %>
