<div class="page-header">
  <h1>Contacto</h1>
</div>

<%= simple_form_for @consulta, :html => {:class => 'form-horizontal'} do |f| %>
  <%= f.input :nombre, :autofocus => true %>
  <%= f.input :apellido %>
  <%= f.input :telefono %>
  <%= f.input :email %>
  <%= f.input :direccion %>
  <%= f.input :localidad %>
  <%= f.input :mensaje , :input_html => { :class => 'span4', :rows => 6} %>
  <div class="controls">
    <%= f.button :submit, :data => {:disable_with => t("espere")}, :class => 'btn btn-large btn-primary' %>
  </div>
<% end %>