<!DOCTYPE html>
<html>

  <head>
    <title>Administración</title>
    <%= tag :meta, :"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" %>
    <%= tag :meta, :lang => :es, :name => :author, :content => "Xaver" %>
    <%= tag :meta, :lang => :es, :name => :language, :content => :es %>

    <%= stylesheet_link_tag    :admin, :media => :all %>
    <%= javascript_include_tag :admin %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
  </head>

  <body>

  <header id="header">
    <div>
      <h1><%= link_to "Administración del sistema", sesiones_path %></h1>
      <nav id="user-nav">
        Hola <%= current_user.username %>!
        <%= link_to "Editar perfil", edit_admin_usuario_path(current_user) %> |
        <%= link_to "Ver sitio", root_path %> |
        <%= link_to "Cerrar sesión", logout_path %>
      </nav>
    </div>
  </header>

  <nav id="nav">
    <div>
      <%= link_to "Usuarios", admin_usuarios_path if can? :index, Usuario %>
      <%= link_to "Consultas", admin_consultas_path if can? :index, Consulta %>
    </div>
  </nav>

  <section id ="flash">
    <%= mensajes_flash %>
  </section>

  <div class="container">
    <%= yield %>
  </div>

</body>

</html>
