<!DOCTYPE html>
<html>
  <head>
    <title>Administración</title>
    <%= tag :meta, :"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" %>
    <%= tag :meta, :lang => :es, :name => :author, :content => "Xaver" %>
    <%= tag :meta, :lang => :es, :name => :language, :content => :es %>

    <%= stylesheet_link_tag :application, :media => :all %>
    <%= javascript_include_tag :admin %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
      <%= javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js" %>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to "Administración", admin_root_path, :class => :brand %>
          <div class="container nav-collapse">
            <ul class="nav">
              <li><%= link_to "Hola #{current_user.username}!", edit_admin_usuario_path(current_user) %></li>
              <li><%= link_to "Editar perfil", edit_admin_usuario_path(current_user) %></li>
              <li><%= link_to "Ver sitio", root_path %></li>
              <li><%= link_to "Cerrar sesión", logout_path %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="span3">
            <nav class="well">
              <ul class="nav nav-list">
                <li class="nav-header">Administración</li>
                <li><%= link_to "Usuarios" , admin_usuarios_path  if can? :index, Usuario  %></li>
                <li><%= link_to "Consultas", admin_consultas_path if can? :index, Consulta %></li>
              </ul>
            </nav>
          </div>
          <div class="span9">
            <section id ="flash">
              <%= mensajes_flash %>
            </section>
            <%= yield %>
          </div>
        </div>
      </div>
      <footer id="footer">
        <%= link_to "", "http://www.xaver.com.ar", :class => :xaver, :title => "Xaver soluciones + tecnología", :target => :_blank %>
      </footer>
    </div>
  </body>
</html>
