<!DOCTYPE html>
<html>

  <head>
    <title><%= @title %></title>
    <%= tag :meta, :name => :description, :content => @descripcion %>
    <%= tag :meta, :name => :keywords, :content => @keywords %>
    <%= tag :meta, :name => :author, :content => "Xaver" %>
    <%= tag :meta, :name => :lang, :content => :es %>

    <%= stylesheet_link_tag    :application, :media => :all %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
  </head>

  <body>

    <header id="header"></header>

    <div class="container">
      <%= yield %>
    </div>

    <footer id="footer"></footer>

    <div class="administracion">
      <%= link_to "Administrar", sesiones_path, :class => :administrar if logged_in? %>
      <%= link_to "", "http://www.xaver.com.ar", :class => :xaver, :title => "Xaver soluciones + tecnología", :target => :_blank %>
    </div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= @sistema.google_analytics_id %>']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
