<h1>Consulta recibida el <%= l @consulta.created_at %></h1>
<nav>
  <%= link_to "Volver", admin_consultas_path %>
</nav>

<p>
  <b>Nombre y apellido:</b>
  <%= @consulta.nombre_completo %>
</p>

<p>
  <b>Telefono:</b>
  <%= @consulta.telefono %>
</p>

<p>
  <b>Email:</b>
  <%= @consulta.email %>
</p>

<p>
  <b>Dirección:</b>
  <%= @consulta.direccion %>
</p>

<p>
  <b>Localidad:</b>
  <%= @consulta.localidad %>
</p>

<p>
  <b>Mensaje:</b>
  <%= @consulta.mensaje %>
</p>